@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300 700;
  font-style: normal;
}

:root {
  /* Radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-20: 20px;
  --radius-40: 40px;
  --radius-60: 60px;
  --radius-full: 999px;

  /* Colors */
  --neutral-0: #ffffff;
  --neutral-950: #000000;
  --indigo-500: #7945ff;
  --indigo-700: #5c2dd5;
  --rose-400: #fd6687;
  --amber-300: #fbbf24;

  /*Text Presets*/
  --text-preset-1: bold 3.5rem/125%;
  --text-preset-1-mobile: bold 2rem/130%;
  --text-preset-2: bold 1.5rem/130%;
  --text-preset-3: bold 1.25rem/130%;
  --text-preset-4-bold: bold 1rem/125%;
  --text-preset-4-medium: bold 1rem/125%;
}

* {
  font-family: "Space Grotesk";
}
